@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
table,th,td {
                border : 1px solid goldenrod;
                border-collapse: collapse;
                border-width: medium;
                padding: 4px;
                text-align: center
            }
.veg{
                text-transform: uppercase; font-size: large; font-family:Verdana, Geneva, Tahoma, sans-serif
                ;font-style: italic;color: rgb(209, 133, 20);
                text-decoration: underline;
     
                
            }
.pizzatable {
    margin-left: auto;  /* margin is total space required by and element and 
    its border its the outermost thingy */

    margin-right: auto;
}
.life{
    font-family: "Tagesschrift", system-ui;
    color: rgb(255, 242, 127);
    background-color: rgb(239, 174, 83);
}
