@import url('https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap');
.life{
    font-family: "Tagesschrift", system-ui;
    color: rgb(255, 242, 127);
    background-color: rgb(239, 174, 83);
}
